.navbar {
    height: 85px;
    background-color: #222222 !important;
}

.btn-flix-navbar {
    border-color: #FF4436;
    border-width: 2px;
    border-style: solid;
    border-radius: 25px;
    color: white;
    text-transform: uppercase;
}

.text-flix-red {
    color: #FF4436;
}