.star-rating {
    fa-icon {
      height: 24px;
      width: 24px;
      font-size: 24px;
      color: #FF4436;
    }
  
    .rating {
        font-family: 'Raleway';
        font-weight: bold;
        font-size: 16px;
        color: #777777;
    }
 
  
  }
  