<div class="container mb-3">
    <div class="row card-row">
        <div class="card w-100 mt-5">
            <div class="card-body">
                <h2>Day Seven Resources</h2>
                <mat-tab-group>
                    <mat-tab label="src/app/shared/models/review.ts">
                        <div class="row">
                            <div class="col-12 text-right mt-2 mb-2">
                                <fa-icon [icon]="['fas', 'copy']" class="copy-icon" size="2x"
                                    [cdkCopyToClipboard]="reviewModel"></fa-icon>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <pre><code [highlight]="reviewModel" [lineNumbers]="true"></code></pre>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="src/app/movies/single-movie/single-movie.component.html">
                        <div class="row">
                            <div class="col-12 text-right mt-2 mb-2">
                                <fa-icon [icon]="['fas', 'copy']" class="copy-icon" size="2x"
                                    [cdkCopyToClipboard]="singleMovieHtml"></fa-icon>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <pre><code [highlight]="singleMovieHtml" [lineNumbers]="true"></code></pre>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="src/app/movies/single-movie/single-movie.component.scss">
                        <div class="row">
                            <div class="col-12 text-right mt-2 mb-2">
                                <fa-icon [icon]="['fas', 'copy']" class="copy-icon" size="2x"
                                    [cdkCopyToClipboard]="singleMovieScss"></fa-icon>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <pre><code [highlight]="singleMovieScss" [lineNumbers]="true"></code></pre>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="src/app/movies/input-star-rating/input-star-rating.component.html">
                        <div class="row">
                            <div class="col-12 text-right mt-2 mb-2">
                                <fa-icon [icon]="['fas', 'copy']" class="copy-icon" size="2x"
                                    [cdkCopyToClipboard]="inputStarRatingHtml"></fa-icon>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <pre><code [highlight]="inputStarRatingHtml" [lineNumbers]="true"></code></pre>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="src/app/movies/input-star-rating/input-star-rating.component.scss">
                        <div class="row">
                            <div class="col-12 text-right mt-2 mb-2">
                                <fa-icon [icon]="['fas', 'copy']" class="copy-icon" size="2x"
                                    [cdkCopyToClipboard]="inputStarRatingScss"></fa-icon>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <pre><code [highlight]="inputStarRatingScss" [lineNumbers]="true"></code></pre>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="src/app/movies/review-card/review-card.component.html">
                        <div class="row">
                            <div class="col-12 text-right mt-2 mb-2">
                                <fa-icon [icon]="['fas', 'copy']" class="copy-icon" size="2x"
                                    [cdkCopyToClipboard]="reviewCardHtml"></fa-icon>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <pre><code [highlight]="reviewCardHtml" [lineNumbers]="true"></code></pre>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="src/app/movies/review-card/review-card.component.scss">
                        <div class="row">
                            <div class="col-12 text-right mt-2 mb-2">
                                <fa-icon [icon]="['fas', 'copy']" class="copy-icon" size="2x"
                                    [cdkCopyToClipboard]="reviewCardScss"></fa-icon>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <pre><code [highlight]="reviewCardScss" [lineNumbers]="true"></code></pre>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="src/app/shared/pipes/time-ago.pipe.ts">
                        <div class="row">
                            <div class="col-12 text-right mt-2 mb-2">
                                <fa-icon [icon]="['fas', 'copy']" class="copy-icon" size="2x"
                                    [cdkCopyToClipboard]="timeAgoPipe"></fa-icon>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <pre><code [highlight]="timeAgoPipe" [lineNumbers]="true"></code></pre>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="src/app/movies/single-review/single-review.component.html">
                        <div class="row">
                            <div class="col-12 text-right mt-2 mb-2">
                                <fa-icon [icon]="['fas', 'copy']" class="copy-icon" size="2x"
                                    [cdkCopyToClipboard]="singleReviewCardHtml"></fa-icon>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <pre><code [highlight]="singleReviewCardHtml" [lineNumbers]="true"></code></pre>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="src/app/movies/single-review/single-review.component.scss">
                        <div class="row">
                            <div class="col-12 text-right mt-2 mb-2">
                                <fa-icon [icon]="['fas', 'copy']" class="copy-icon" size="2x"
                                    [cdkCopyToClipboard]="singleReviewCardScss"></fa-icon>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <pre><code [highlight]="singleReviewCardScss" [lineNumbers]="true"></code></pre>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>